{% extends "todo/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="container-md">
    <div class="row justify-content-center py-3 px-5">
      <div class="col-5 align-self-center justify-content-center border border-1 border-secondary">
            <form method="post">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form| crispy }}
              </fieldset>
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                  <a class="mx-3 px-3" href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </form>
            <div class="border-top pt-3">
              <small class="text-muted">
                Don't have an account? <a class="ml-2" href="{% url 'register' %}">Sign up now</a>
              </small>
            </div>
      </div>
    </div>
  </div>

{% endblock content %}